@import '_header';
@import '_counter';
@import '_player';
@import '_variables';
@import '_stats';

body{
    background: $backgroundBody;
    text-align: center;
    font-family: $font;
    color: $color;
    text-transform: $uppercase;
    .scoreboard{
        background: $oscuro; 
        width: 600px;
        margin: 70px auto;
        box-shadow: 0 4px 0px $oscuro;
        border-radius: 15px;
     }
}


